#maps {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#mapsMenu {
    width: 50%;
    height: 50%;

    background-color: #333333;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;

    position:relative;

    overflow-y: scroll;
    overflow-x: hidden;

}

#closeButton {
    position:absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeButton:hover {
    background-color: white;
    color: black;
}

#newButton {
    border: solid 1px grey;
    position:absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newButton:hover {
    background-color: white;
    color: black;
}

#loadedMaps {
    width: 100%;
    height: auto;
    grid-template-rows: 100px;
    grid-template-columns: 100px;
    grid-auto-flow: column;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    justify-items: start;

    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
}

.map-entry {
    width: 20%;
    height: 120px;
    border: solid 1px grey;
}



.map-entry .buttons-container {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;

    display: flex;
    padding: 5px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.map-entry:hover .buttons-container button {
    visibility: visible;
}

.map-entry .buttons-container button {
    height: 25px;
}



.map-entry .map-entry-body {
    width: 100%;
    height: 100%;

    padding: 2px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

}

.map-entry .map-entry-body:hover {
    background-color: grey;
}

.map-entry .map-entry-body p {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.map-entry-body .map-preview-container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: black;
}

.map-preview-container img {
    width: 100%;
    
}



.map-entry.new-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-entry.new-map:hover {
    background-color: grey;
}

.map-entry.new-map p {
    font-size: 25pt;
}