#tileset-creator {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 300px 1fr 1fr;

}

#tileset-creator #exit-tilecreator {
    position: absolute;
    top: 10px;
    right: 10px;
}

#tileset-creator #hex-preview {
    background-color: #666666;
}

#tileset-creator #current-hex-controls {
    background-color: #666666;
}


#tileset-creator #current-hex-controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hex-property-selector {
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hex-property-selector input {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}




#side-panel #hex-buttons {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
}

#hex-buttons .hex-button {
    width: 70px;
    height: 70px;

    background-color: #333333;
}

.hex-button.selected-button {
    background-color: #555555 !important;
}

#hex-buttons .hex-button:hover {
    background-color: #666666;
}

.hex-button#new-tile {
    border: solid 1px #666666;
}



/* Hex Preview Panel */

#tileset-creator #hex-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#previewed-hex-name {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #333333;
    font-size: 25pt;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}