html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #333333;
    width: 100%;
    height: 100%;
    margin: 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

#app-canvas {
    background-color: #444444;
    margin: 0;
    height: 100%;
}

#app-canvas canvas {
    margin: 0;
}

/* Global Button Styling */
button {
    color: white;
    background-color: black;
    border: solid 1px #333333;
    border-radius: 0px;
}

button:hover {
    background-color: #333333;
}

button:active {
    background-color: black;
}

button img {
    user-select: none;
    -webkit-user-drag: none;
}


/* CLOSE CLICKER */
/* Used as a background to close various menus that dont take up the whole screen */

.close-clicker {
    position: fixed;
    width: 100%;
    height: 100%;
}


/* CIRCLE COLOR INPUT */
.circle-color-input-wrapper {
    border-radius: 50%;
    border: solid 1px white;
}

.circle-color-input-wrapper:hover {
    border: solid 1px black;
}

.circle-color-input-wrapper input {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
}