/* GLOBAL BUTTON STYLING */


button {
	border: none;
	border-radius: 0.25em;
	background-color: #333333;
	color: white;
	padding: 5px;
	transition-duration: 0.1s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
	background-color: #555555;
}

button:active {
	background-color: #444444;
}

button:disabled {
	background-color: #222222;
	color: #777777;
}

button:disabled:hover {
	background-color: #222222;
}

button.evil {
	background-color: #634242;
	color: var(--hexfriend-red);
}

button:hover.evil {
	background-color: #885555;
}


/* GLOBAL INPUT STYLE */
input {
	background-color: #777777;
	border: 0;
	border-bottom: solid 2px #222222;
	transition-duration: 0.2s;
	transition-property: border-color;
	color: #f2f2f2;
}

input[type='text'] {
	padding: 5px;
}

input[type='number'] {
	padding: 0.25em;
	border-radius: 0.5em;
}

input:focus {
	border-color: #8cc63f;
	transition-duration: 0.2s;
	transition-property: border-color;
	outline: none;
}

/* TEXTAREA */
textarea {
	outline: none;
	color: #f2f2f2;
	background-color: #333333;
	border-radius: 3px;
}

textarea:focus {
	outline-style: solid;
	outline-width: 1px;
	outline-color: #8cc63f;
	border-color: #8cc63f;
}

select {
	background-color: #777777;
	color: #f2f2f2;
	padding: 5px;
	border-radius: 3px;
}

/* SELECT */
select {
	border: none;
	height: 2em;
	box-sizing: border-box;
}

/* CLASSES */
.selected {
	outline-style: solid;
	outline-width: 2px;
	outline-color: #8cc63f;
	border-color: #8cc63f;
	transition-duration: 0s;
}

.green-button {
	background-color: #8cc63f;
	color: white;
}

.green-button:hover {
	border: none;
	background-color: #648d2e;
}

/* RANGE */
input[type='range'] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	border: none;
	background-color: transparent;
}

input[type='range']:focus {
	outline: none;
	border: none;
}

/* Webkit */
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #222222;
	border-radius: 6px;
	transition-duration: 0.2s;
}

input[type='range']:active::-webkit-slider-runnable-track {
	background: #8cc63f;
	transition-duration: 0.2s;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -6px;
	border: 2px solid #f2f2f2;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: #8cc63f;
	cursor: pointer;
}

/* Mozilla */
input[type='range']::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #222222;
	border-radius: 6px;
	transition-duration: 0.2s;
}

input[type='range']:active::-moz-range-track {
	background: #8cc63f;
	transition-duration: 0.2s;
}

input[type='range']::-moz-range-thumb {
	border: 2px solid #f2f2f2;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #8cc63f;
	cursor: pointer;
}

/* Custom Context Menus */
.context-menu {
	width: 8em;
	display: flex;
	flex-direction: column;
	border: none;
	background-color: grey;
	position: fixed;
	border-radius: 0.5em;
	overflow: hidden;
}

.context-menu button {
	width: 100%;
	height: 2em;
	box-sizing: border-box;
	border-radius: 0;
	border: none;
	text-align: left;
	padding-left: 0.5em;
}
