.panel {
	background-color: var(--hexfriend-green-background);
	border-radius: var(--large-radius);
	overflow: hidden;
	width: 19em;
	box-sizing: border-box;
	position: fixed;
	top: 1em;
	right: 1em;

	max-height: 80%;
	height: auto;
}