/* GLOBAL SCROLL BAR */

/* width */
::-webkit-scrollbar {
	width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
	display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--light-background);
	border-radius: var(--large-radius);
	width: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--lighter-background);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--lightest-background);
}