.settings-grid {
    margin-top: var(--large-radius);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 2em;
    align-items: center;
    justify-items: center;
    row-gap: 0.3em;
}

.settings-grid label {
    justify-self: start;
}

.settings-grid input {
    width: 8ch;
    height: 2em;
}

.helper-text {
    grid-column: span 2;
    font-size: 12px;
    color: var(--text);
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    font-style: oblique;
}

.file-input-button {
    position: relative;
}

.file-input-button input {
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.loaded-tileset {
    background-color: var(--primary-background);
    padding: 5px;
    border-radius: var(--small-radius);
    position: relative;
}

.loaded-tileset button {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    width: 30px;
    padding: 0;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.loaded-tileset button img {
    width: 80%;
    height: auto;
}
