:root {
  --small-radius: 0.25em;
  --large-radius: 0.25em;

  --font:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

[data-theme='light'] {
  --secondary: #ff6666;
  --dark-red: #992222;

  --dark-primary: #648d2e;
  --hexfriend-green: #8cc63f;

  --text: #0d0d0d;

  --world-background: grey;
  --dark-background: #eeeeee;
  --primary-background: #dddddd;
  --light-background: #cccccc;
  --lighter-background: #bbbbbb;
  --lightest-background: #aaaaaa;
}

[data-theme='dark'] {
  --secondary: #ff6666;
  --dark-red: #992222;

  --dark-primary: #648d2e;
  --hexfriend-green: #8cc63f;

  --text: #f2f2f2;

  --world-background: #000000;
  --dark-background: #222222;
  --primary-background: #333333;
  --light-background: #555555;
  --lighter-background: #777777;
  --lightest-background: #999999;
}
