html {
    --hexfriend-red: #FF6666;
    --dark-red: #992222;

    --hexfriend-green: #8cc63f;

    --primary-background: #333333;
    --mid-dark-bg: #555555;
    --mid-light-bg: #777777;
    --light-bg: #999999;
}