:root {
    --secondary: #FF6666;
    --dark-red: #992222;

    --dark-primary: #648D2E;
    --hexfriend-green: #8CC63F;

    --text: #F2F2F2;

    --dark-background: #222222;
    --hexfriend-green-background: #333333;
    --light-background: #555555;
    --lighter-background: #777777;
    --lightest-background: #999999;


    --small-radius: 0.25em;
    --large-radius: 0.5em;
}